{% extends 'AdminTemplateBundle::base.html.twig' %}
{% set page_title %}Current Vacancy creation{% endset %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    {{ tinymce_init() }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-bubble4"></i> {{ page_title }}</h6>
        </div>
        <div class="panel-body">
            <form class="form bootstrap-validator-form" id="validation" action="{{ path('currentvacancy_create') }}" role="form" method="POST">
                {{ form_widget(form) }}
                <div class="form-group">
                    <label for="md_bundle_recruitbundle_currentvacancy_description">Description</label>
                    <textarea name="description" id="description" class="tinymce"></textarea>   
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Create</button>
                    <button class="btn btn-danger" type="reset"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </form>
            <div >
                <a href="{{ path('currentvacancy') }}" class="btn btn-warning">Back to the list</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admintemplate/assets/plugins/slug/jquery.slug.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#validation').bootstrapValidator();

            $("#md_bundle_recruitbundle_currentvacancy_name").slug({
                slug: 'slug', // class of input / span that contains the generated slug 
                hide: false        // hide the text input, true by default 
            });
        });
    </script>   
{% endblock %}