{% extends 'FEBundle::base.html.twig' %}

{% block title %}International Growth{% endblock %}

{% block content %}

<section class="generalwrapper clearfix">
    <div class="container">
        <div class="row">
            <div id="left_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 first clearfix" style="padding-right: 0px;">
                <div class="widget cats_widget clearfix">
                    <ul class="real-estate-cats-widget">
                        <li class="star"><a href="#">ISSUES</a></li>
                        <li class="active"><a href="{{ path('fe_drivingGrowth') }}"><span>Driving growth <i class="fa fa-angle-down pull-right"></i></span></a>
                            <ul>
                                <li class="active"><a href="{{ path('fe_internationalgrowth') }}">International growth</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fe_managingrisk') }}">Managing risk <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_mergersandacquisitions') }}">Mergers and acquisitions</a></li>
                    </ul>
                </div><!-- end widget -->
            </div><!-- #left_sidebar -->

            <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix" style="padding-left: 0px;">
                <div id="property-slider" class="clearfix">
                    <div class="flexslider pages-slides">
                        <ul class="slides pages-banner">
                            <li>
                                <div class="banner_data">
                                    <h2>What Lead to international Growth</h2>
                                    <p>Ed Nusbaum, Grant Thornton CEO, talks to Ivo Daalder, president of the Chicago Council on Global Affairs, about the outlook for emerging markets.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_06-International-group-of-flags.jpg') }}" alt="Issues">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>Managing global corruption risk</h2>
                                    <p>Follow the money: Manage global corruption risk by implementing an anti-corruption program.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_08_Pen_On_Ledger.jpg') }}" alt="Issues">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>Employment tax global issues</h2>
                                    <p>Employment tax issues for a global workforce: Know what the IRS and foreign jurisdictions look for.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_06-Businessman-looking-out-of-building.jpg') }}" alt="Issues">
                            </li>
                        </ul><!-- end slides -->
                    </div><!-- end flexslider -->
                </div><!-- end property-slider -->
            </div><!-- end content -->
            <div class="col-md-9 col-sm-9 col-xs-12 pages-data">
                <h2>Helping dynamic organizations grow<br/>internationally</h2>
                <p>
                    Grant Thornton is one of the world's leading organizations of independent audit, tax and advisory firms. More than 38,000 professionals at 
                    Grant Thornton members firms work in more than 130 countries - just about anywhere you want to do business. Whether they're in Hong Kong or 
                    Houston, Cairo or the Carolinas, the people of Grant Thornton member firms provide high-quality service and personalized attention. 
                </p>
                <p><strong>Key facts</strong></p>
                <ul class="key-facts">
                    <li>Member firms in more than 130 countries</li>
                    <li>More than 2,500 publicly listed assurance clients</li>
                    <li>Significant cross-border deal flow</li>
                    <li>Technical professionals with focused industry experience</li>
                    <li>Uniform platform and approach for attestation, tax and advisory services</li> 
                    <li>International scope and standards adherence</li> 
                    <li>Recognized institutional investor experience</li> 
                    <li>Global IPO readiness capabilities</li> 
                </ul>
                <p><strong>Providing a differentiated experience</strong><br/><br/>
                    Grant Thornton Mohamed Hilal is a member firm of Grant Thornton International. Mohamed Hilal & Co. was founded in 1951 and affiliated with Grant Thornton in 1996 to become Grant Thornton Mohamed Hilal.<br/><br/>
                    This affiliation helped us establish Grant Thornton Consultants, and Grant Thornton for Marketable Securities, which carries out a multitude of financial and management consultancy services, which are offered to both public and private entities in various sectors. <br/><br/>
                    Our specialists have the experience, and with the global reach and resources of Grant Thornton, this means that we're uniquely placed in the market to deliver the best advice to our clients.<br/><br/>
                    Our firm believes that sustaining long-term growth in successful organizations means looking at different aspects of the business simultaneously. For dynamic organizations to fully achieve their objectives, financial measures, process efficiency, new ways of working and stakeholder relationships must grow in harmony.<br/><br/>
                    With shorter decision-making chains, more senior personnel involvement and empowered client service teams, Grant Thornton Egypt can take a wider view and operate in a coordinated way that's as fast and agile as our clients. Put simply, it's how we help unlock the potential for growth in dynamic organizations. Grant Thornton was awarded 'Best managed international firm' by The Managing Partners' Forum, a professional body that celebrates the value of leadership and management excellence. The award recognized global strategy, leadership and growth. With shorter decision-making chains, more senior personnel involvement and empowered client service teams, Grant Thornton Egypt can take a wider view and operate in a coordinated way that's as fast and agile as our clients. Put simply, it's how we help unlock the potential for growth in dynamic organizations. <br/><br/>
                    <span class="pull-right" style="width: 250px;">Grant Thornton was awarded 'Best managed international firm'  by The Managing Partners' Forum, a professional body that celebrates the value of leadership and management excellence. The award recognized global strategy, leadership and growth.</span>
                    With shorter decision-making chains, more senior personnel involvement and empowered client service teams, Grant Thornton US can take a wider view and operate in a coordinated way that's as fast and agile as our clients. Put simply, it's how we help unlock the potential for growth in dynamic organizations.
                    <br/>

                    <strong>Gateway to worldwide resources Member firm</strong>
                    international business centers (IBCs) fill a unique role as gateways to worldwide resources, providing our Egyptian clients as well as Grant Thornton member firm clients with concentrated, specialized services while operating as a hub for global communications, strategy and regionally focused business expertise. Clients benefit from the services the IBCs provide, such as: 
                </p>
                <ul class="lists">
                    <li>Centralized global coordination - IBCs coordinate inquiries, opportunities, resources and issue resolution, and provide access to in-country professionals from the client's home country.</li>
                    <li>
                        Collaborative approach - IBCs form a global network that provides: 
                        <ul>
                            <li>Central points of contact for Grant Thornton member firms</li>
                            <li>Insights across industries, geographies and markets</li>
                            <li>Strong established relationships that generate economies of scale resulting in efficient and effective client service</li>
                            <li>Central systems and processes for the pursuit of new business and global proposal opportunities</li>
                            <li>In-country, knowledgeable points of contact - IBCs are led by senior partners appointed by firm leadership. These senior partners, who serve as IBC directors, well understand resources, clients and the marketplace, providing member firms with a streamlined approach to communication and decision-making</li>
                            <li>Worldwide coordination of multinational engagements - IBC professionals know clients' business structure and global objectives, while maintaining a local market view</li>
                            <li>Insight into member firm capabilities - IBCs deliver consistent, readily available information regarding capabilities and proficiency, subject matter professionals and clients</li>
                        </ul>
                    </li>
                </ul>
                <p>There are 39 IBCs across the globe</p>
                <img src="{{ asset('bundles/fe/images/GT_MAP_Global_IBCs_WEB_140228.jpg') }}"/>
                <p>The three Grant Thornton IBCs are aligned by global region:</p>
                <ol>
                    <li>Americas</li>
                    <li>Asia-Pacific</li>
                    <li>Europe/India/Middle East/Africa</li>
                </ol>
                <p>
                    <strong>Specialized international business groups</strong><br/>
                    In addition to the IBCs, Grant Thornton Egypt and other key Grant Thornton member firms have formed geographically specialized business groups in order to meet client's needs. Each business group is dedicated to a major region or country, and helps to streamline doing business in their respective territories. These specialized groups are composed of professionals who are native to the region and who have in-depth knowledge of cultural, financial, legal and regulatory requirements and norms. They have decades of experience assisting companies with global operations. 
                </p>
                {#<div class="ads">
                    <p>
                        "Grant Thornton" refers to the brand under which the Grant Thornton member firms provide assurance, tax and advisory services to their clients and/or refers to one or more member firms, as the context requires. "GTIL" refers to Grant Thornton International Ltd (GTIL).<br/><br/>
                        Grant Thornton Egyptian is a member firm of GTIL. GTIL and each member firm of GTIL are a separate legal entity.<br/><br/>
                        GTIL is a nonpracticing, international umbrella organized as a private company limited by guarantee incorporated in England and Wales. GTIL does not deliver services in its own name or at all. Services are delivered by the member firms. GTIL and its member firms are not agents of, and do not obligate, one another and are not liable for one another's acts or omissions.<br/><br/>
                        The name "Grant Thornton" the Grant Thornton logo including the Mobius symbol/device, and "Instinct for Growth" are trademarks of GTIL. All copyright is owned by GTIL, including the copyright in the Grant Thornton logo; all rights are reserved.
                    </p>
                </div>#}
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

{% endblock %}

