<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Sentir, Responsive admin and dashboard UI kits template">
        <meta name="keywords" content="admin,bootstrap,template,responsive admin,dashboard template,web apps template">
        <meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">
        <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}">
        <title>GT Egypt Admin Panel | {% block title %}{% endblock %}</title>
        {% block stylesheet %}
            <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
            <link href="{{ asset('bundles/admintemplate/assets/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- PLUGINS CSS -->
            <link href="{{ asset('bundles/admintemplate/assets/plugins/weather-icon/css/weather-icons.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/prettify/prettify.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/magnific-popup/magnific-popup.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/owl-carousel/owl.carousel.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/owl-carousel/owl.theme.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/owl-carousel/owl.transitions.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/chosen/chosen.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/icheck/skins/all.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/datepicker/datepicker.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/summernote/summernote.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/markdown/bootstrap-markdown.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/datatable/css/bootstrap.datatable.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/morris-chart/morris.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/c3-chart/c3.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/plugins/slider/slider.min.css') }}" rel="stylesheet">

            <!-- MAIN CSS (REQUIRED ALL PAGE)-->
            <link href="{{ asset('bundles/admintemplate/assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/admintemplate/assets/css/style-responsive.css') }}" rel="stylesheet">

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body class="login tooltips">
        <!--
        ===========================================================
        BEGIN PAGE
        ===========================================================
        -->
        <div class="login-header text-center">
            <img src="{{ asset('bundles/admintemplate/assets/img/logo-login.png') }}" class="logo" alt="Logo">
        </div>
        <div class="login-wrapper">
            {% block body %}
            {% endblock %}
        </div><!-- /.login-wrapper -->
        <!--
        ===========================================================
        END PAGE
        ===========================================================
        -->
        {% block javasrcipt %}

            <!--
            ===========================================================
            Placed at the end of the document so the pages load faster
            ===========================================================
            -->
            <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
            <script src="{{ asset('bundles/admintemplate/assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/retina/retina.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/nicescroll/jquery.nicescroll.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/backstretch/jquery.backstretch.min.js') }}"></script>

            <!-- PLUGINS -->
            <script src="{{ asset('bundles/admintemplate/assets/plugins/skycons/skycons.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/prettify/prettify.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/owl-carousel/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/chosen/chosen.jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/icheck/icheck.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/timepicker/bootstrap-timepicker.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/mask/jquery.mask.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/datatable/js/bootstrap.datatable.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/summernote/summernote.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/markdown/markdown.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/markdown/to-markdown.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/markdown/bootstrap-markdown.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/slider/bootstrap-slider.js') }}"></script>

            <!-- EASY PIE CHART JS -->
            <script src="{{ asset('bundles/admintemplate/assets/plugins/easypie-chart/easypiechart.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/easypie-chart/jquery.easypiechart.min.js') }}"></script>

            <!-- KNOB JS -->
            <!--[if IE]>
            <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('bundles/admintemplate/assets/plugins/jquery-knob/jquery.knob.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/jquery-knob/knob.js') }}"></script>

            <!-- FLOT CHART JS -->
            <script src="{{ asset('bundles/admintemplate/assets/plugins/flot-chart/jquery.flot.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/flot-chart/jquery.flot.tooltip.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/flot-chart/jquery.flot.resize.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/flot-chart/jquery.flot.selection.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/flot-chart/jquery.flot.stack.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/flot-chart/jquery.flot.time.js') }}"></script>

            <!-- MORRIS JS -->
            <script src="{{ asset('bundles/admintemplate/assets/plugins/morris-chart/raphael.min.js') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/morris-chart/morris.min.js') }}"></script>

            <!-- C3 JS -->
            <script src="{{ asset('bundles/admintemplate/assets/plugins/c3-chart/d3.v3.min.js" charset="utf-8') }}"></script>
            <script src="{{ asset('bundles/admintemplate/assets/plugins/c3-chart/c3.min.js') }}"></script>

            <!-- MAIN APPS JS -->
            <script src="{{ asset('bundles/admintemplate/assets/js/apps.js') }}"></script>
        {% endblock %}
    </body>
</html>