{% extends 'FEBundle::base.html.twig' %}
{% block content %}
<section>
    <div class="my_account_orange">
        <div class="cont">
            <span class="black_man"></span>
            <span>تعديل كلمة المرور</span>
        </div>
    </div>
    <div class="account_container">
        <div class="cont">
            <div id="tabs" class="acc-inner">
                {%if app.user%}
                    <div class="account_nav">
                        <ul>
                            <li>
                                <a href="{{path('fe_my_bookings')}}">
                                    <span>رحلاتي</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{path("fe_usr_edit" , { 'id' : app.user.id })}}">
                                    <span>تعديل البيانات</span>
                                </a>
                            </li>
                            <li class="current_booking">
                                <a href="{{path('fe_pre_change_password')}}">
                                    <span>كلمة السر</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {%endif%}
                    <div class="account_option">
                        <div id="acc-tab-2">
                            <h2 class="tab_title"> تغيير كلمة السر</h2>
                            <hr class="first-hr">
                      {%if message is defined%}  <span class="red-space">{{message}}</span>{%endif%}
{#                        <h3>تعديل كلمة المرور </h3>#}
                            <form action="{{path("fe_change_password")}}" method="post">
                                <label class="under" style="float: right;" >كلمة السر الجديدة <small class="red"> *</small></label>                            <br class="clear"/>
                                <input  style="float: right; float: right;background: #ffffff;height: 31px;border-radius: 4px;-moz-border-radius: 4px; -webkit-border-radius: 4px;border: 1px solid #bfbfbf;margin-bottom: 20px;font-size: 14px;padding-right: 10px;" class="sw"  type="password" name="n_password" id="n_password"/>
                                <label  style="float: right;" class="under" >تأكيد كلمة السرالجديدة <small class="red"> *</small></label>
                                <br class="clear"/>

                                <input  style="float: right;float: right;background: #ffffff;height: 31px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #bfbfbf;margin-bottom: 20px;font-size: 14px;padding-right: 5px;" class="sw" type="password" name="r_password" id="r_password"/>
                                <br class="clear">
                                <span  style="float: right;" class="btn green3">
                                    <input type="submit"   class="link greenbtn" title="" value=" تغيير كلمة السر"  >
                                    <br class="clear" />
                                </span>
                            </form>
                        </div>

                    </div>  
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        if ($('.account_nav ul li:first-child').hasClass('current_booking')) {
            $('.account_nav ul li:first-child a').addClass('img-one');
        }
        else if ($('.account_nav ul li:nth-of-type(2)').hasClass('current_booking')) {
            $('.account_nav ul li:nth-of-type(2) a').addClass('img-two');
        }
        else
        {
            $('.account_nav ul li:nth-of-type(3) a').addClass('img-three');
        }
        </script>
                                {% endblock %}