{% extends 'AdminTemplateBundle::base.html.twig' %}
{% set page_title %}Website Edit{% endset %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-bubble4"></i> {{ page_title }}</h6>
        </div>
        <div class="panel-body">
            <form class="form bootstrap-validator-form" id="validation" action="{{ path('website_update', { 'id': entity.id}) }}" role="form" method="POST">
                <input type="hidden" name="_method" value="PUT" />                
                {{ form_widget(edit_form) }}
                <div class="form-group text-right">
                    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Update</button>
                    <button class="btn btn-danger" type="reset"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </form>
            <div >
                <a href="{{ path('website') }}" class="btn btn-warning">Back to the list</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#validation').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    "md_bundle_cmsbundle_website[name]": {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: 'This field is required and can\'t be empty'
                            },
                        }
                    },
                    "md_bundle_cmsbundle_website[url]": {
                        validators: {
                            notEmpty: {
                                message: 'This field is required and can\'t be empty'
                            },
                            uri: {
                                message: 'The input is not a valid URL'
                            }
                        },
                    },
                }
            }).disableSubmitButtons();


        });
    </script>   
{% endblock %}