{% extends 'AdminTemplateBundle::base.html.twig' %}
{% set page_title %}Partner creation{% endset %}

{% block body -%}
    {{ parent() }}
    {# tinymce_init() #}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-bubble4"></i> {{ page_title }}</h6>
        </div>
        <div class="panel-body">
            {{ tinymce_init({theme: "simple"}) }}

            <form class="form bootstrap-validator-form" id="validation" action="{{ path('client_create') }}" role="form" method="POST">
                {{ form_widget(form) }}
                <div class="form-group">
                    <label for="clienttype_content" class="required">Page Content</label>
                    <textarea id="clienttype_content" name="description" required="required" class="tinymce " data-theme="simple" class="form-control"></textarea>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Create</button>
                    <button class="btn btn-danger" type="reset"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </form>
            <div >
                <a href="{{ path('client') }}" class="btn btn-warning">Back to the list</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts  %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/admintemplate/assets/plugins/slug/jquery.slug.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admintemplate/assets/plugins/validator/bootstrapValidator.min.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            $("#md_bundle_cmsbundle_client_title").slug({
                slug: 'slug', // class of input / span that contains the generated slug 
                hide: false        // hide the text input, true by default 
            });

            $('#validation').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    "md_bundle_cmsbundle_client[name]": {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: 'This field is required and can\'t be empty'
                            },
                        }
                    },
                }
            }).disableSubmitButtons();


        });
    </script>
{% endblock %}
