{% extends 'FEBundle::base.html.twig' %}

{% block title %}Energy{% endblock %}

{% block metaTag %}{% endblock %}
{% block content %}

<section class="generalwrapper clearfix">
    <div class="container">
        <div class="row">
            <div id="left_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 first clearfix" style="padding-right: 0px;">
                <div class="widget cats_widget clearfix">
                    <ul class="real-estate-cats-widget">
                        <li class="star"><a href="#">INDUSTRIES</a></li>
                        <li><a href="{{ path('fe_construction') }}">Construction</a></li>
                        <li><a href="{{ path('fe_distribution') }}">Distirbution</a></li>
                        <li class="active"><a href="{{ path('fe_energy') }}">Energy</a></li>
                        <li><a href="{{ path('fe_financial-services') }}">Financial services <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_food-and-beverage') }}">Food and beverage</a></li>
                        <li><a href="{{ path('fe_health-care') }}">Health care <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_hospitality-and-restaurants') }}">Hospitality and restaurants</a></li>
                        <li><a href="{{ path('fe_manufacturing') }}">Manufacturing</a></li>
                        <li><a href="{{ path('fe_not-for-profit-organizations') }}">Not-for-profit organizations <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_private-equity') }}">Private equity</a></li>
                        <li><a href="{{ path('fe_public-sector') }}">Public sector <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_technology') }}">Technology <i class="fa fa-angle-right pull-right"></i></a></li>
                        {#<li class="active"><a href="{{ path('fe_drivingGrowth') }}"><span>Driving growth <i class="fa fa-angle-down pull-right"></i></span></a>
                            <ul>
                                <li><a href="{{ path('fe_internationalgrowth') }}">International growth</a></li>
                            </ul>
                        </li>#}
                    </ul>
                </div><!-- end widget -->
            </div><!-- #left_sidebar -->

            <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix" style="padding-left: 0px;">
                <div id="property-slider" class="clearfix">
                    <div class="flexslider pages-slides">
                        <ul class="slides pages-banner">
                            <li>
                                <div class="banner_data">
                                    <h2>World's Energy opportunity</h2>
                                    <p> Investment in energy is trending upward, despite volatile oil prices. We take an in-depth look at the latest developments and explore private equity's impact on the industry.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_06-Oil-pipeline.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>Deal or no deal? Upstream energy M&A</h2>
                                    <p> Not all companies can succeed in this volatile arena. You need stable management, a strong balance sheet and more.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_08_Merger_Arrows_02.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>U.S. energy challenged in boom</h2>
                                    <p>U.S. oil and gas companies are thriving, but operational challenges such as staffing shortages, and political issues including fracking, test the skills of executives.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_10_EN_Energy Survey_article4.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2> Infographic: M&A threatens burst </h2>
                                    <p>The U.S. energy sector is booming. But explosive growth is challenged by regulations and competitive M&A, say respondents to a Grant Thornton LLP and Hart Energy 2014 survey.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_10_EnergySurveyInfoGraphic2B.jpg') }}" alt="Industries">
                            </li>
                        </ul><!-- end slides -->
                    </div><!-- end flexslider -->
                </div><!-- end property-slider -->
            </div><!-- end content -->
            <div class="col-md-9 col-sm-9 col-xs-12 pages-data">
                <h2>Growth solutions for the dynamic energy industry</h2>
                <p>
                    Demand for more secure sources of energy is a daily newsmaker in the energy industry. Price volatility, political and economic pressures, risk management practices, availability of drilling rigs and even access to talent can greatly affect the way you conduct business.<br/><br/>
                    Our national Energy practice is here to help. We understand that oil and gas companies - whether in the exploration and production, gathering and transportation, refining and marketing or field services sectors - require service providers who are fluent in your business.<br/><br/>
                    Here are some of the services we provide:
                </p>
                <ul>
                    <li>Assurance</li>
                    <li>Internal audit</li>
                    <li>Governance risk and compliance </li>
                    <li>Valuation</li>
                    <li>Transaction advisory</li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

{% endblock %}

