{% extends 'FEBundle::base.html.twig' %}

{% block title %}Manufacturing{% endblock %}

{% block metaTag %}{% endblock %}
{% block content %}

<section class="generalwrapper clearfix">
    <div class="container">
        <div class="row">
            <div id="left_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 first clearfix" style="padding-right: 0px;">
                <div class="widget cats_widget clearfix">
                    <ul class="real-estate-cats-widget">
                        <li class="star"><a href="#">INDUSTRIES</a></li>
                        <li><a href="{{ path('fe_construction') }}">Construction</a></li>
                        <li><a href="{{ path('fe_distribution') }}">Distirbution</a></li>
                        <li><a href="{{ path('fe_energy') }}">Energy</a></li>
                        <li><a href="{{ path('fe_financial-services') }}">Financial services <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_food-and-beverage') }}">Food and beverage</a></li>
                        <li><a href="{{ path('fe_health-care') }}">Health care <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_hospitality-and-restaurants') }}">Hospitality and restaurants</a></li>
                        <li class="active"><a href="{{ path('fe_manufacturing') }}">Manufacturing</a></li>
                        <li><a href="{{ path('fe_not-for-profit-organizations') }}">Not-for-profit organizations <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_private-equity') }}">Private equity</a></li>
                        <li><a href="{{ path('fe_public-sector') }}">Public sector <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_technology') }}">Technology <i class="fa fa-angle-right pull-right"></i></a></li>
                        {#<li class="active"><a href="{{ path('fe_drivingGrowth') }}"><span>Driving growth <i class="fa fa-angle-down pull-right"></i></span></a>
                            <ul>
                                <li><a href="{{ path('fe_internationalgrowth') }}">International growth</a></li>
                            </ul>
                        </li>#}
                    </ul>
                </div><!-- end widget -->
            </div><!-- #left_sidebar -->

            <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix" style="padding-left: 0px;">
                <div id="property-slider" class="clearfix">
                    <div class="flexslider pages-slides">
                        <ul class="slides pages-banner">
                            <li>
                                <div class="banner_data">
                                    <h2>Why CFOs are a vital supply chain link</h2>
                                    <p> Learn how leading CFOs minimize risks, control costs and optimize the efficiency of their supply chains.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/_HC_2014_CFO-Infographic_Supply-Chain.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2> Manufacturing CFO: Taking on creative growth strategies</h2>
                                    <p> Value-Added CFO survey: Financial officers can leverage supply chain, data, taxes, M&A and innovation to drive a company's growth and profitability in today's manufacturing boom.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_03_Broker-dealer.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>How to grow sustainably</h2>
                                    <p> We've put together numbers, best practices and real-world tips on how to get started on the path to responsible corporate citizenship.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_10_CIP_IBR-CSR-tree.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>Today's CFO behind the wheel</h2>
                                    <p> Manufacturing CFOs see benefits to incorporating advanced analytics and implementing creative strategies for growth: Enhance supply chain, IT, tax setup, innovation, M&A.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/_HC_2014_CFO-Infographic_Mergers-and-Acquisitions_2.jpg') }}" alt="Industries">
                            </li>
                        </ul><!-- end slides -->
                    </div><!-- end flexslider -->
                </div><!-- end property-slider -->
            </div><!-- end content -->
            <div class="col-md-9 col-sm-9 col-xs-12 pages-data">
                <h2>Engineering growth for manufacturers</h2>
                <p>
                    Egyptian manufacturing is experiencing a historic transformation, marked by trends such as reshoring, new technologies and sustainable business models. Today's manufacturers are smarter, leaner and more nimble than ever, but they still have work to do to create enduring growth. Whether your company is considering an M&A deal, optimizing cash flow or navigating regulatory requirements, our Manufacturing team can help address your issues, including:
                </p>
                <ul class="lists">
                    <li>Cybersecurity - secure data and risk management are a priority for all businesses.</li>
                    <li>Complex supply chains - global suppliers and pressure for maximum efficiency demand new strategies to reduce and manage risk.</li>
                    <li>Tax reform and new regulations - from regulating conflict minerals to reinstating R&D tax credits, to final repair regulations, more government intervention means you may need to change how you conduct business.</li>
                    <li>Innovation and sustainability - today's manufacturers need to foster innovation and embrace a sustainability-driven value proposition.</li>
                </ul>
                <div class="ads">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>On-time performance</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2014_05_MAN_on-time-performance.jpg') }}"/>
                            <h2>Being timely matters </h2>
                            <p>Competing for customer retention is a relay sprint. If your suppliers fall short, you may not be able to meet your delivery deadlines.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Growth</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_05_Silhouette-Of-Men-Down-Long-Hallway.jpg') }}"/>
                            <h2>M&A can help you grow</h2>
                            <p>Thinking about growing your manufacturing business through M&A? This article guides you through best practices and recent trends.</p>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Business interruptions </h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_08_Construction_Arrow_Catastrophe.jpg') }}"/>
                            <h2>Managing the unavoidable</h2>
                            <p>Preparing for problems that can shut you down is not difficult. You just need to make choices and take action. This infographic shows you the steps.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

{% endblock %}

