{% extends 'FEBundle::base.html.twig' %}

{% block title %}Private Equity{% endblock %}

{% block metaTag %}{% endblock %}
{% block content %}

<section class="generalwrapper clearfix">
    <div class="container">
        <div class="row">
            <div id="left_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 first clearfix" style="padding-right: 0px;">
                <div class="widget cats_widget clearfix">
                    <ul class="real-estate-cats-widget">
                        <li class="star"><a href="#">INDUSTRIES</a></li>
                        <li><a href="{{ path('fe_construction') }}">Construction</a></li>
                        <li><a href="{{ path('fe_distribution') }}">Distirbution</a></li>
                        <li><a href="{{ path('fe_energy') }}">Energy</a></li>
                        <li><a href="{{ path('fe_financial-services') }}">Financial services <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_food-and-beverage') }}">Food and beverage</a></li>
                        <li><a href="{{ path('fe_health-care') }}">Health care <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_hospitality-and-restaurants') }}">Hospitality and restaurants</a></li>
                        <li><a href="{{ path('fe_manufacturing') }}">Manufacturing</a></li>
                        <li><a href="{{ path('fe_not-for-profit-organizations') }}">Not-for-profit organizations <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li class="active"><a href="{{ path('fe_private-equity') }}">Private equity</a></li>
                        <li><a href="{{ path('fe_public-sector') }}">Public sector <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_technology') }}">Technology <i class="fa fa-angle-right pull-right"></i></a></li>
                        {#<li class="active"><a href="{{ path('fe_drivingGrowth') }}"><span>Driving growth <i class="fa fa-angle-down pull-right"></i></span></a>
                            <ul>
                                <li><a href="{{ path('fe_internationalgrowth') }}">International growth</a></li>
                            </ul>
                        </li>#}
                    </ul>
                </div><!-- end widget -->
            </div><!-- #left_sidebar -->

            <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix" style="padding-left: 0px;">
                <div id="property-slider" class="clearfix">
                    <div class="flexslider pages-slides">
                        <ul class="slides pages-banner">
                            <li>
                                <div class="banner_data">
                                    <h2> Buying well in private equity </h2>
                                    <p> Senior industry practitioners around the globe weigh in on how private equity can deliver its value-added promises.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_06_FIS_Bond_Premium_Article.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>2015 private equity update</h2>
                                    <p> 2014 saw healthy growth, strong stock prices and successful fundraising. But will ongoing profitability be hampered by compliance concerns?</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_PE-Outlook.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2> The future of deal financing in private equity </h2>
                                    <p> Regulators are cracking down on leveraged loans. Lenders need to innovate or yield financing opportunities to the competition.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_PE-Finance.jpg') }}" alt="Industries">
                            </li>
                        </ul><!-- end slides -->
                    </div><!-- end flexslider -->
                </div><!-- end property-slider -->
            </div><!-- end content -->
            <div class="col-md-9 col-sm-9 col-xs-12 pages-data">
                <h2>Strength, solutions and strategic growth for private equity</h2>
                <p>
                    As one of the six global audit, tax and advisory organizations, we have the integrated structure, extensive global capabilities and efficient service approach that deliver value and drive growth for funds, investors and portfolio companies.
                    <br/><br/>
                    We also are one of only three global accounting firms that have worked with all of the top 20 investment underwriters. Here's why they have chosen us - and how we can help you:
                </p>
                <ul class="lists">
                    <li>We know the market. Our core clients are middle-market dynamic growth companies, and about one-third are (or have been) private equity?backed. Since we work with the same companies, stakeholders and teams as you do, we understand your goals and challenges.</li>
                    <li>Our priorities match yours. Consistent with the private equity investment approach, we deliver value thanks to deep industry knowledge, financial and operational expertise, and a comprehensive understanding of the unique challenges facing funds, dealmakers and portfolio company management.</li>
                    <li>We offer support through the entire life cycle of the investment. We have the industry knowledge and global capability to advise on all aspects of private equity transactions, from fund structure and operations to deal flow and transactions to value creation and exit strategy execution.</li>
                    <li>Single point of contact means fast delivery and captured synergies. Each client is assigned a key relationship leader - a single point of contact with the knowledge and authority to deploy resources, regardless of where they reside in the firm, geography or service line.</li>
                </ul>
                <p>Grant Thornton offers a full range of services to private equity firms and their portfolio companies. Our formal service delivery structure ensures you the right solutions and the best resources.</p>
                {#<div class="ads">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Sell well</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_06-Middle-aged-man-with-cell-phone.jpg') }}"/>
                            <h2>Your tech business</h2>
                            <p>The best route: assessing growth equity and valuing your company.</p>
                        </div> 
                    </div>
                </div>#}
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

{% endblock %}

