{% extends 'FEBundle::base.html.twig' %}

{% block title %}Public Sector{% endblock %}

{% block metaTag %}{% endblock %}
{% block content %}

<section class="generalwrapper clearfix">
    <div class="container">
        <div class="row">
            <div id="left_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 first clearfix" style="padding-right: 0px;">
                <div class="widget cats_widget clearfix">
                    <ul class="real-estate-cats-widget">
                        <li class="star"><a href="#">INDUSTRIES</a></li>
                        <li><a href="{{ path('fe_construction') }}">Construction</a></li>
                        <li><a href="{{ path('fe_distribution') }}">Distirbution</a></li>
                        <li><a href="{{ path('fe_energy') }}">Energy</a></li>
                        <li><a href="{{ path('fe_financial-services') }}">Financial services <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_food-and-beverage') }}">Food and beverage</a></li>
                        <li><a href="{{ path('fe_health-care') }}">Health care <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_hospitality-and-restaurants') }}">Hospitality and restaurants</a></li>
                        <li><a href="{{ path('fe_manufacturing') }}">Manufacturing</a></li>
                        <li><a href="{{ path('fe_not-for-profit-organizations') }}">Not-for-profit organizations <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_private-equity') }}">Private equity</a></li>
                        <li class="active"><a href="{{ path('fe_public-sector') }}"><span>Public sector <i class="fa fa-angle-down pull-right"></i></span></a>
                            <ul>
                                <li><a href="{{ path('fe_government-audit') }}">Government audit</a></li>
                                <li><a href="{{ path('fe_public-sector-services-and-solutions') }}">Public Sector services and solutions</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fe_technology') }}">Technology <i class="fa fa-angle-right pull-right"></i></a></li>
                    </ul>
                </div><!-- end widget -->
            </div><!-- #left_sidebar -->

            <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix" style="padding-left: 0px;">
                <div id="property-slider" class="clearfix">
                    <div class="flexslider pages-slides">
                        <ul class="slides pages-banner">
                            <li>
                                <div class="banner_data">
                                    <h2> 2014 Acquisition Policy Survey </h2>
                                    <p> A Closing Window: Are we missing the opportunity for change?</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_12_ADV_DRM.jpg') }}" alt="Industries">
                            </li>
                            {#<li>
                                <div class="banner_data">
                                    <h2> 2014 Federal CFO Survey </h2>
                                    <p> Driving collaboration and innovation: Achieving the CFO mission in uncertain times</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_05_US-Congress-Building.jpg') }}" alt="Industries">
                            </li>#}
                            <li>
                                <div class="banner_data">
                                    <h2> 2014 State CIO survey </h2>
                                    <p> Charting the course: Leading collaboration during uncertain times.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_06-Man-with-cloud-diagram.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>  Survey of Defense Financial Management Executives </h2>
                                    <p> How do financial managers within military establishments work smarter to get better results with fewer resources?</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_11_Business_people_reviewing_expenses.jpg') }}" alt="Industries">
                            </li>
                        </ul><!-- end slides -->
                    </div><!-- end flexslider -->
                </div><!-- end property-slider -->
            </div><!-- end content -->
            <div class="col-md-9 col-sm-9 col-xs-12 pages-data">
                <h2>Public Sector</h2>
                <p>
                    Grant Thornton's Global Public Sector helps executives and managers at all levels of government maximize performance and efficiency in the face of ever tightening budgets and increased demand for services. Our public sector team members find solutions that help government leaders with issues including acquisitions, financial management, human capital, information technology and performance management. Read more about our cost and performance management thought leadership here.
                    <br/><br/>
                    In fact, many of our professionals are former government officials who faced similar challenges and pressures shrinking budgets, demand for program performance, ever increasing compliance requirements, inability to recruit and retain needed talent, expanding reporting burdens, the need to collaborate across the federal government and state and local partners, complex program management requirements, and other challenges. 
                    <br/><br/>
                    Based in the Washington, D.C., metropolitan area, with offices in Alexandria, Virginia; Austin and San Antonio, Texas; and Sacramento, California; Grant Thornton's Global Public Sector serves clients in federal, state, local and international governments.
                </p>
                <div class="ads">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Resources</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_05_Iphone-On-Stock-Newspaper-Page-Screen-Glare.jpg') }}"/>
                            <h2>Public Sector resources</h2>
                            <p>Learn more about our team's work, and view all of our Public Sector group's content.</p>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Thought leadership</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_05_Bank-Building-Columns.jpg') }}"/>
                            <h2>Surveys</h2>
                            <p>No other firm conducts the depth of research into the challenges facing public sector leaders.</p>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Contact us</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_05_3Shot-Extreme-Focus-Man-Looks-At-Woman.jpg') }}"/>
                            <h2>Rev. rec. impact on software</h2>
                            <p>For more information on how Grant Thornton can help, contact one of our partners or managing directors.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

{% endblock %}

