{% extends 'FEBundle::base.html.twig' %}

{% block title %}Technology{% endblock %}

{% block metaTag %}{% endblock %}
{% block content %}

<section class="generalwrapper clearfix">
    <div class="container">
        <div class="row">
            <div id="left_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 first clearfix" style="padding-right: 0px;">
                <div class="widget cats_widget clearfix">
                    <ul class="real-estate-cats-widget">
                        <li class="star"><a href="#">INDUSTRIES</a></li>
                        <li><a href="{{ path('fe_construction') }}">Construction</a></li>
                        <li><a href="{{ path('fe_distribution') }}">Distirbution</a></li>
                        <li><a href="{{ path('fe_energy') }}">Energy</a></li>
                        <li><a href="{{ path('fe_financial-services') }}">Financial services <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_food-and-beverage') }}">Food and beverage</a></li>
                        <li><a href="{{ path('fe_health-care') }}">Health care <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_hospitality-and-restaurants') }}">Hospitality and restaurants</a></li>
                        <li><a href="{{ path('fe_manufacturing') }}">Manufacturing</a></li>
                        <li><a href="{{ path('fe_not-for-profit-organizations') }}">Not-for-profit organizations <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="{{ path('fe_private-equity') }}">Private equity</a></li>
                        <li><a href="{{ path('fe_public-sector') }}">Public sector <i class="fa fa-angle-right pull-right"></i></a></li>
                        <li class="active"><a href="{{ path('fe_technology') }}"><span>Technology <i class="fa fa-angle-down pull-right"></i></span></a>
                            <ul>
                                <li><a href="{{ path('fe_software-internet-and-it') }}">Software, internet and IT</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- end widget -->
            </div><!-- #left_sidebar -->

            <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix" style="padding-left: 0px;">
                <div id="property-slider" class="clearfix">
                    <div class="flexslider pages-slides">
                        <ul class="slides pages-banner">
                            <li>
                                <div class="banner_data">
                                    <h2> International tax: Impacts on tech webcast </h2>
                                    <p> This webcast will identify several of the latest international tax changes and explain the potential impacts on your technology business.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_06_Young-Businessman-Laptop-2.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>Is an IPO right for your company?</h2>
                                    <p> Going public paid off for companies like Apple, Alibaba and Google. But don't be blinded by the dollar signs. IPOs carry long- and short-term risks.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_12_Going Public.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2> R&D tax credit extended for tech companies </h2>
                                    <p> Congress extends tax breaks: What tech companies need to know</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2013_06-Man-and-woman-talking-with-laptop-phone.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2>C+I spells savings for tech</h2>
                                    <p> Tax credits and incentives offered by governments could trim capital project price tags.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/_HC_2014_CFO-Infographic_Taxes-and-Regulations.jpg') }}" alt="Industries">
                            </li>
                            <li>
                                <div class="banner_data">
                                    <h2> Automation boosts ERP </h2>
                                    <p>  NetSuite and Grant Thornton help a social media company get a handle on ERP and revenue recognition. Your manual system is costing you money.</p>
                                </div>
                                <img src="{{ asset('bundles/fe/images/HC_2014_01_channel-diversity.jpg') }}" alt="Industries">
                            </li>
                        </ul><!-- end slides -->
                    </div><!-- end flexslider -->
                </div><!-- end property-slider -->
            </div><!-- end content -->
            <div class="col-md-9 col-sm-9 col-xs-12 pages-data">
                <h2>Retail experiences that compel buyers </h2>
                <p>
                    The highly competitive nature of the retail sector means retailers face unique challenges. Whether those challenges stem from the risks of online sales or the demands of big data, our team will find the answers you need to grow your business. We help you stay in front of the challenges facing your business, such as:
                </p>
                <ul class="lists">
                    <li>Cybersecurity - secure data and risk management are a priority for retailers.</li>
                    <li>Omni-channel sales - customers expect to be able to buy any time, any place. Omni-channel presence is now an expectation, not a differentiator.</li>
                    <li>Tax regulations - the rise of online sales as a main revenue stream for many retailers will eventually lead to imposing online sales taxes.</li>
                </ul>
                <div class="ads">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Software, Internet and IT</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_05_Computer-Component-Extreme-Focus.jpg') }}"/>
                            <h2>Unparalleled knowledge</h2>
                            <p>Cloud computing, social and mobile applications are some of the new developments that demand constant, focused innovation. We can guide you.</p>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="home-services">
                            <h1>Replay webcast</h1>
                            <img src="{{ asset('bundles/fe/images/3B_2013_06-Male-hands-typing-on-tablet.jpg') }}"/>
                            <h2>Rev. rec. impact on software</h2>
                            <p>Webcast explained the key features of ASC 606 that affect software and SaaS companies.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

{% endblock %}

